@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg {
    background-color: white;
    background-size: cover;
    width: 100%;
}

.image {
    width: 40%;
    
    

}

.head {
    font-size: 35px;
    color: black;
    font-family: Roboto;
    font-weight: bold;

}

.card {
    padding: 5px;
    margin: 10px;
}

.para {
    color: black;
    font-size: 15px;
}
.para1 {
    color: black;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
}

.follow-us-icon-container {
    background-color: grey;
    color: #5a7184;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 7px;
    padding-top: 8px;
    padding-bottom: 14px;
    padding-right: 5px;
    padding-left: 12px;
}